.about_title{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem;
}
.about_body{
    background-color: #333;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    border-radius: 10rem;
}