.contactForm_title{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 3rem;
}
.card_body{
    display: flex;
    justify-content:center;
    padding: 3rem;
}
