.home_banner{
    background-image: url('../images/banner_1.jpg');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow:auto;
}
.banner_headline{
    display: flex;
    justify-content: start;
    color: white;
    font-size: 3rem;
    font-weight: bolder;
    padding-top: 5rem;
    padding-left: 3rem;
    padding-right: 1rem;
    margin-bottom: 3rem;
}
.banner_intro{
    display: flex;
    justify-content: start;
    font-size: 2rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    color: white;
    padding-right: 1rem;
}
.banner_btn button{
    margin-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 0.5rem;
    border-radius: 2rem;
    width: 8rem;
    background: none;
    outline: white;
    color: white;
    font-weight: bolder;
}
.banner_btn button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}